
body, html{
    line-height: 1.8;
    padding: 0;
    margin: 0;
    font-family:sans-serif;
   

}
.header, .content, .sidebar, .footer{
     padding: 54px 24px;
     color: aliceblue;
     box-sizing: border-box;
}
.header{
    background-color: #2b2024;
    text-align: center;
}
.content{
    background-color: #fd0054;
}
.sidebar{
    background-color: #a80038;
}
.footer{
    padding: 26px 24px;
    color: aliceblue;
    box-sizing: border-box;
    background-color: #2b2024;
    text-align: end;
}

